{% extends 'base.html' %}
{%load static%}
    {% block styles %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock %}
    
{% block content%}
<div class="home">

<center>
<p>Hello {{user.username}}!</p>
<hr>
{%for post in posts%}
<div class="row row1">
<div class="col-md-4 column1" id="column1">
  <div class="zoom" id="zoom">
<img src="{{post.image.url}}" alt="" width="400px" height="400px">
</div>
</div>
<div class="col-md-1"></div>
<div class="col-md-6">
    <div class="row">
  <div class="col-sm-4" id="card2">
    <div class="card card1">
      <div class="card-body">
        <h5 class="card-title">PROJECT : {{post.img_name}}</h5>
        <img src="{{post.poster.image.url}}" alt="" width="70px" height="70px">
        <p class="card-text">By: {{post.poster.name}}</p>
        <a href="{% url 'review' post.id %}" class="btn btn-primary">Rate </a>
      </div>
    </div>
  </div>
  <div class="col-sm-8" id="card2">
    <div class="card card2">
      <div class="card-body">
        <h5 class="card-title">PROJECT INFO: </h5>
        <p class="card-text">Description: {{post.img_description}}</p>
        <a href="{{post.img_url}}" class="btn btn-primary">View</a>
        
      </div>
    </div>
  </div>
</div>
<br>
<!-- <div class="row">
    <div class="col-md-8">
    <div class="card card3"style="border:2px solid red;">
  <div class="card-body">
    <center>
      <div class="circle" >
        <p>CURRENT RATING</p>
        <P><strong>{{votes}}/10</strong></P>
      </div>
    </center>
  </div>
  </div>
</div>
</div> -->
</div>

</div>

<!-- <p>Project Name: {{post.img_name}} <br>
Owner: {{post.poster.name}} <br>
visit site: {{post.img_url}}<br>
Description: {{post.img_description}} <br></p>
<a href="{% url 'delete_post' post.id%}">delete</a> -->

<hr>
<br><br>
{%endfor%}
</center>
</div>
{%endblock%}
