{% extends 'base.html' %}
{%load static%}
    {% block styles %} 
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    {% endblock %}
  
{% block content%}
    
<div class="row">
    <div class="col-md-4">
        {%if posterr.image%}
<img src="{{posterr.image.url}}" alt="" height="300px" width="300px" style="border-radius:250rem ;">
{%endif%}
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
  <div class="card-header">
    CONTACTS
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">name: {{posterr.name}}</li>
    <li class="list-group-item">phone: {{posterr.phone}}</li>
    <li class="list-group-item">email: {{posterr.email}}</li>
  </ul>
</div>
    </div>

    <div class="col-md-4">
        <div class="card">
  <h5 class="card-header">BIO</h5>
  <div class="card-body">
    <h5 class="card-title">{{posterr.bio}}</h5><br>
    joined: {{posterr.date_created}}
  </div>
</div>
    </div>

</div>

<br><br>
<hr>
<center>
    <h1>posts</h1>
    <h3>{{posts_count}}</h3>
</center>
<hr>
<br><br>
{%for post in posts%}
<div class="post">
{{post.name}} <br>
<img src="{{post.image.url}}" alt="" width="400px" height="400px"> <br>
{{post.img_name}} <br>
{{post.img_url}} <br>
{{post.img_description}} <br>
{{post.date_posted}} <br>
<btn btn-danger><a href="{% url 'delete_post' post.id%}">delete</a> </btn>

</div>
<br><br>
{%endfor%}

{%endblock%}
