{% extends 'base.html' %}
{%load static%}
    {% block styles %} 
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
    {% endblock %}
    
{% block content%}
<center>
<p style="font-size:28px; font-weight:bold;color:brown">Hey {{user}}! Review {{post}} ?</p>
</center>

<div class="row row1">
<div class="col-md-6 image">
<img src="{{post.image.url}}" alt="" width="600px" height="600px">
</div>
<div class="col-md-1"></div>
<div class="col-md-5 cardy">
    <div class="card card1">
      <div class="card-body">
        <h5 class="card-title">PROJECT : {{post.img_name}}</h5>
        <img src="{{post.poster.image.url}}" alt="" width="70px" height="70px">
        
        <p class="card-text">Owner: <br> {{post.poster.name}}</p>
      </div>
    </div>
<br><br>
        <div class="card card3">
      <div class="card-body">
        <h5 class="card-title">CURRENT RATING</h5>
        <p class="card-text"> {{votes}}/10</p>
      </div>
    </div>

    <br><br>
        <div class="card card1">
      <div class="card-body">
<form method="POST" action="">

    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" name="confirm"> 
    <button type="button" class="btn btn-outline-danger">
    <a href="{% url 'home'%}">cancel</a>
        
    </button>
</form>
      </div>
    </div>

</div>

<br><br>


</div>

<br>
<!-- <div class="row">
    <div class="col-md-8">
    <div class="card card3">
  <div class="card-body">
    <center>
        <p>CURRENT RATING</p>
        <P><strong>{{votes}}/10</strong></P>
    </center>
  </div>
  </div>
</div>
</div> -->
</div>





{%endblock%}
