.card1{
    width: 200px;
    height:300px;
    background-color: antiquewhite;
    border: 5px solid grey;

}

.card1 a{
    margin-top: 50%;
}

.card2{
    border: 5px solid grey;
    height:300px;
    
}

.card3{
    color:red;
    font-size: 28px;
    font-weight: bold;

}

hr{
    color:rgb(91, 89, 86);
    height:30px;
}