body{
    /* background-color: grey; */
    background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%);
}

.post{
    height: auto;
    width: 600px;
    background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%);
    padding: 20px;
    margin-left: 20%;
    border-radius: 10px;

}