
body{
    /* background-color: grey; */
    background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%);

    
}
.cardy{
    background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%);
    border-radius: 5px;
    padding:20px;
    text-align:center;
    font-weight: bolder;
}

.cardy img{
    border-radius: 250rem;
}
.image img{
    border-radius: 5px
}

.card3{
    /* border-radius: 250rem; */
    text-align: center;
}

.row1{
    font-weight: bolder;
}